:root {
  --main-slide: 0px;
  --main-cart: -720px;
}
.Food_slider {
  display: flex;
  column-gap: 1rem;
  justify-content: center;
  align-items: center;
}
.slider_div {
  /* background-color: antiquewhite; */
  width: 70%;
  text-align: center;
  font-family: Okra, Helvetica, sans-serif;
  overflow: hidden;
}
.slider_div .tag {
  font-size: 24px;
  font-weight: 600;
  color: rgb(151, 150, 150);
  margin: 1rem;
}
.slider_cont {
  /* background-color: aliceblue; */
  display: flex;
  padding: 1rem;
  height: 173px;
  column-gap: 2.2rem;
  font-weight: bold;
  font-size: 21px;
}
.slider_cont .img_cont {
  width: 140px;
  height: 140px;
  display: flex;
  border-radius: 15px 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  color: rgb(134, 133, 133);
  flex-shrink: 0;
  transform: translateX(var(--main-slide)) scale(1);
  transition: transform 500ms cubic-bezier(0.29, 0.04, 0.37, 1.18);
  box-shadow: rgb(0 0 0 / 11%) 0px 1px 16px;
}
.slider_cont .img_cont:hover {
  transform: translateX(var(--main-slide)) scale(1.1);
  transition: all 200ms ease-in-out;
}
.slider_cont .img_cont .thumbnail {
  width: 100%;
  border-radius: 50%;
}

.Food_slider .displaynot {
  visibility: hidden;
}
.Food_slider {
  position: relative;
}
.Food_slider svg {
  /* position: absolute; */
  width: 32px;
  height: 32px;
  background-color: rgba(150, 150, 147, 0.232);
  border-radius: 50%;
  cursor: pointer;
  color: white;
  margin-top: 2.5rem;
  visibility: visible;
}
.Food_slider svg use {
  cursor: pointer;
  width: 100%;
}
.Food_slider svg.arrowleft {
  left: 150px;
}
.Food_slider svg.arrowright {
  right: 150px;
}
